// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    padding: 0.9375rem 1.875rem;
    background-color: $black;
    height: 90%;
    color: $silver;
    display:flex;
    align-items: center;
    font-size: $small;
    &__items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
   

  li{
    margin: 0.125rem 0.625rem;
    white-space: wrap;

    @include respond-to($bp-md){
        li{
            flex-wrap: wrap;
        }
    }
    
  }

  li:nth-last-child(2){
    flex: 1;
  }

  li:hover{
      color:$platinum;
  }
    }
}

  