.hero{
    height: 100%;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 15px;
    margin-top: 100px;

    &__image {
        display: flex;
        justify-content: left;
        margin-left: 4%;
        height: 43.75rem;
        background-image: url("../img/bg-hero.svg");
        background-repeat: no-repeat;
        background-position: right;
    }
    &__image-text {
        width: 18.75rem;
        margin-top: 15px;
        margin-left: 5%;
    
        &__image-h2 {
            font-size: $xx-large;
            margin-bottom: 0.625rem;
                .parrafo{
                    font-size: $x-small;
                    line-height: 1.5625rem;
                 
                }
        }  
    }
}
@include respond-to($bp-md) {
    .hero{
        &__image {
            background-size: 150%;
        }
    }
}
@include respond-to($bp-sm){
   .hero {
        &__image {
            display: flex;
            justify-content: center;
            background-size: 100%;
        }
   }
}